html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font: 400 16px Roboto, Arial, sans-serif;
}
.radio {
  display: none;
}
.bg {
  background-color: #849d8f;
  background-image: url('../img/slide-1.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 27px;
}
a {
  color: #fff;
}
.btn {
  display: inline-block;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74b36), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74b36, #f26843);
  background-image: -o-linear-gradient(bottom, #e74b36, #f26843);
  background-image: linear-gradient(to top, #e74b36, #f26843);
  -webkit-border-radius: 40px;
          border-radius: 40px;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 700;
}
.btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: -o-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}
.btn:active {
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74b36));
  background-image: -webkit-linear-gradient(bottom, #f26843, #e74b36);
  background-image: -o-linear-gradient(bottom, #f26843, #e74b36);
  background-image: linear-gradient(to top, #f26843, #e74b36);
}
.main-header {
  padding-top: 8px;
  position: relative;
}
.top-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logo {
  margin-left: 20px;
}
.logo img {
  width: 154px;
  height: 64px;
}
.logo_navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}
.menu {
  position: relative;
  padding: 13px 22px;
}
.main-menu {
  padding: 0;
  margin: 0;
}
.main-menu > li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 8px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  cursor: pointer;
}
.main-menu > li:hover {
  background-color: #fff;
}
.main-menu > li:hover a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.main-menu > li:first-child:hover .sub-menu {
  opacity: 1;
  z-index: 2;
  -webkit-transition: .5s opacity;
  -o-transition: .5s opacity;
  transition: .5s opacity;
}
.sub-menu {
  opacity: 0;
  position: absolute;
  left: 20px;
  top: 50px;
  z-index: -1;
  background-color: #fff;
  list-style: none;
  padding: 0;
  max-width: 143px;
  font-weight: 400;
  font-size: 14px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
}
.sub-menu li {
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: 0.5s background-color;
  -o-transition: 0.5s background-color;
  transition: 0.5s background-color;
}
.sub-menu li:first-child {
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
}
.sub-menu li:hover {
  background-color: #fbded7;
}
.sub-menu li:active {
  background-color: #f6b5a5;
}
.user-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-right: 27px;
  font-size: 14px;
  font-weight: 500;
}
.search {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2) url('../img/menu-sprite.png') no-repeat 30% 99%;
  position: relative;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.5s background-color;
  -o-transition: 0.5s background-color;
  transition: 0.5s background-color;
}
.search .search-popup {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  opacity: 0;
  padding: 15px;
  background-color: #f8f7f4;
  z-index: -1;
  position: absolute;
  left: -240px;
  top: 35px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  min-width: 242px;
  -webkit-box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
}
.search .search-popup input {
  padding: 10px 8px;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #d3d3d2;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.search:hover {
  background-color: #f8f7f4;
  background-position: 30% 83%;
}
.search:hover .search-popup {
  opacity: 1;
  z-index: 2;
}
.login {
  position: relative;
}
.login-popup {
  position: absolute;
  background-color: #f8f7f4;
  padding: 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  top: 35px;
  right: 0px;
  min-width: 252px;
  z-index: -1;
  opacity: 0;
  -webkit-box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
}
.login-popup input {
  padding: 10px 8px;
  width: 93%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-bottom: 10px;
}
.login-popup .btn {
  width: 35%;
  height: 35px;
  font-size: 15px;
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  border: none;
}
.login-popup .btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: -o-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}
.login-popup .btn:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74b36));
  background-image: -webkit-linear-gradient(bottom, #f26843, #e74b36);
  background-image: -o-linear-gradient(bottom, #f26843, #e74b36);
  background-image: linear-gradient(to top, #f26843, #e74b36);
}
.login-popup a {
  display: block;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}
.login-button {
  display: inline-block;
  height: 20px;
  padding: 8px 17px 5px 43px;
  margin-left: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-decoration: none;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.login-button::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 35px;
  background: url('../img/menu-sprite.png') no-repeat 40% 13%;
  top: -2px;
  left: 11px;
}
.login-button:hover {
  background-color: #f8f7f4;
  color: #323232;
}
.login-button:hover::before {
  background-position: 40% -5%;
}
.login:hover > .login-popup {
  opacity: 1;
  z-index: 2;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.cart {
  position: relative;
}
.cart-button {
  display: inline-block;
  max-height: 20px;
  padding: 8px 34px 8px 43px;
  margin-left: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-decoration: none;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}
.cart-button::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 35px;
  background: url('../img/menu-sprite.png') no-repeat 50% 47%;
  top: -4px;
  left: 13px;
}
.cart-button:hover {
  background-color: #f8f7f4;
  color: #323232;
}
.cart-button:hover::before {
  background-position: 50% 29%;
}
.cart-popup {
  position: absolute;
  right: 0;
  top: 35px;
  background-color: #f8f7f4;
  width: 510px;
  font-weight: 400;
  padding: 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 13px;
  opacity: 0;
  z-index: -1;
  -webkit-box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.4);
}
.cart-popup table {
  border-collapse: collapse;
}
.cart-popup .btn {
  font-size: 15px;
  float: right;
  margin-bottom: 0;
}
.cart-popup .btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6f5e), to(#f58669));
  background-image: -webkit-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: -o-linear-gradient(bottom, #ec6f5e, #f58669);
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}
.cart-popup .btn:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74b36));
  background-image: -webkit-linear-gradient(bottom, #f26843, #e74b36);
  background-image: -o-linear-gradient(bottom, #f26843, #e74b36);
  background-image: linear-gradient(to top, #f26843, #e74b36);
}
.cart-popup img {
  width: 33px;
  height: 33px;
}
.cart-popup td {
  padding-right: 14px;
  padding-bottom: 20px;
  white-space: nowrap;
}
.cart-popup td:nth-child(4),
.cart-popup td:nth-child(5) {
  padding-right: 0;
}
.cart-popup td:nth-child(3) {
  white-space: normal;
  padding-right: 30px;
  width: 100%;
}
.cart-popup td:nth-child(6) {
  padding-right: 25px;
}
.cart-popup td:nth-child(7) {
  padding-right: 20px;
}
.cart-popup tr:last-child td {
  border-bottom: 1px solid #cacac7;
}
.cart:hover > .cart-popup {
  opacity: 1;
  z-index: 2;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
.cart-remove {
  position: relative;
  cursor: pointer;
}
.cart-remove::before {
  content: '';
  position: absolute;
  top: 30%;
  width: 1px;
  height: 15px;
  background-color: #353535;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.cart-remove::after {
  content: '';
  position: absolute;
  top: 30%;
  width: 1px;
  height: 15px;
  background-color: #353535;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.cart-pale {
  color: #7f7f7f;
}
.cart-sum {
  font-weight: 700;
  font-size: 15px;
  text-align: right;
  padding: 15px 10px;
}
.info {
  text-align: right;
  color: #ffffff;
  padding-right: 27px;
  position: absolute;
  right: 0;
  top: 72px;
}
.info p {
  margin-top: 0;
}
.info p:first-of-type {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
}
.info p:last-of-type {
  font-weight: 900;
  font-size: 22px;
}
.slider {
  padding-top: 312px;
  position: relative;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}
.slider h2 {
  font: 900 60px/60.35px 'Roboto';
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}
.slider .btn {
  width: 240px;
  height: 45px;
  font-size: 31.5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.slider-control {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 23px;
  left: -222px;
  bottom: 20px;
}
.slider-control label {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  margin-right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.slider-control label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.present {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 230px;
  margin: 0 25px;
  margin-bottom: 40px;
}
.present .free {
  width: 48.67%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
}
.present .free a {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.hits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  margin: 0 25px 40px;
}
.item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 267px;
}
.item img:first-child {
  position: absolute;
}
.about {
  margin: 0 25px 40px;
  background-color: #eae0c5;
  background-image: url('../img/waffle-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  min-height: 300px;
}
.blog-mail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 220px;
  margin: 0 25px 40px;
}
.blog-mail .col {
  width: 48.67%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
}
.blog-mail .blog {
  background-color: #fff;
  background-image: url('../img/strawberry-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding: 20px;
}
.blog-mail .mail {
  background-color: #f7f6f3;
  background-image: url('../img/mail-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding: 20px;
}
.map {
  background-color: #e0e0e0;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 430px;
  position: relative;
}
.map .address {
  position: absolute;
  background-color: #fff;
  width: 305px;
  right: 20px;
  bottom: 58px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 25px;
}
.main-footer {
  padding: 18px 20px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
