html,
body {
  min-width: 1200px; //поставь ширину, ниже которой верстка поплывет
  margin: 0;
  padding: 0;
  font: 400 16px Roboto, Arial, sans-serif;
}

.radio {
  display: none;
}

.bg {
  background-color: #849d8f;
  background-image: url('../img/slide-1.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 27px;
}

a {
  color: #fff;
}

//HEADER
.main-header {
  padding-top: 8px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
  img {
    width: 154px;
    height: 64px;
  }
}

.logo_navigation {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.menu {
  position: relative;
  padding: 13px 22px;
}

.main-menu {
  padding: 0;
  margin: 0;
  &>li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      a {
        color: #000000;
        text-decoration: none;
        transition: .5s all;
      }
    }
    &:first-child:hover .sub-menu {
      opacity: 1;
      z-index: 2;
      transition: .5s opacity;
    }
  }
}

.sub-menu {
  opacity: 0;
  position: absolute;
  left: 20px;
  top: 50px;
  z-index: -1;
  background-color: #fff;
  list-style: none;
  padding: 0;
  max-width: 143px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.5);
  li {
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s background-color;
    &:first-child {
      font-weight: 700;
      border-bottom: 1px solid #d1d0ce;
    }
    &:hover {
      background-color: #fbded7;
    }
    &:active {
      background-color: #f6b5a5;
    }
  }
}

.user-block {
  display: flex;
  padding-top: 15px;
  padding-right: 27px;
  font-size: 14px;
  font-weight: 500;
}

.search {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2) url('../img/menu-sprite.png') no-repeat 30% 99%;
  position: relative;
  border-radius: 50%;
  transition: .5s background-color;
  .search-popup {
    border-radius: 5px;
    opacity: 0;
    padding: 15px;
    background-color: #f8f7f4;
    z-index: -1;
    position: absolute;
    left: -240px;
    top: 35px;
    transition: .5s all;
    min-width: 242px;
    input {
      padding: 10px 8px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #d3d3d2;
      transition: 1s all;
    }
  }
  &:hover {
    background-color: #f8f7f4;
    background-position: 30% 83%;
    .search-popup {
      opacity: 1;
      z-index: 2;
    }
  }
}

.login {
  position: relative;
}

.login-popup {
  position: absolute;
  background-color: #f8f7f4;
  padding: 15px;
  border-radius: 5px;
  top: 35px;
  right: 0px;
  min-width: 252px;
  z-index: -1;
  opacity: 0;
  input {
    padding: 10px 8px;
    width: 93%;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    margin-bottom: 10px;
  }
  .btn {
    width: 35%;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    height: 35px;
    font-size: 14px;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }
  a {
    display: block;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
  }
}

.login-button {
  display: inline-block;
  height: 20px;
  padding: 8px 17px 5px 43px;
  margin-left: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-decoration: none;
  transition: .5s all;
  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 35px;
    background: url('../img/menu-sprite.png') no-repeat 40% 13%;
    top: -2px;
    left: 11px;
  }
  &:hover {
    background-color: #f8f7f4;
    color: #323232;
    &::before {
      background-position: 40% -5%;
    }
  }
}

.login-button:hover~.login-popup {
  opacity: 1;
  z-index: 2;
  transition: 1s all;
}

.cart {
  position: relative;
}

.cart-button {
  display: inline-block;
  max-height: 20px;
  padding: 8px 34px 8px 43px;
  margin-left: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-decoration: none;
  transition: .5s all;
  &::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 35px;
    background: url('../img/menu-sprite.png') no-repeat 50% 65%;
    top: -4px;
    left: 13px;
  }
  &:hover {
    background-color: #f8f7f4;
    color: #323232;
    &::before {
      background-position: 50% 29%;
    }
  }
}

.cart-popup {
  position: absolute;
  right: 0;
  top: 35px;
  background-color: #f8f7f4;
  min-width: 250px;
  font-weight: 400;
  padding: 15px;
  border-radius: 5px;
  .btn {
    border-radius: 25px;
    font-weight: 700;
    height: 35px;
    font-size: 14px;
    float: right;
    margin-bottom: 0;
  }
}

.icon-remove {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 1px;
    height: 15px;
    background-color: #353535;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 1px;
    height: 15px;
    background-color: #353535;
    transform: translate(-50%,-50%) rotate(-45deg);
  }

}

.cart-sum {
  font-weight: 700;
  border-top: 1px solid black;
}

.info {
  text-align: right;
  p {
    margin-top: 0;
  }
}

.slider {
  padding-top: 245px;
  position: relative;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
  h2 {
    font: 900 60px/60.35px 'Roboto';
    color: #fff;
    margin-top: 0;
    margin-bottom: 28px;
  }
}

.btn {
  display: inline-block;
  background-image: linear-gradient(to top, #e74b36, #f26843);
  border-radius: 40px;
  vertical-align: baseline;
  height: 45px;
  width: 135px;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  color: #ffffff;
}

.slider-btn {
  width: 282px;
  height: 65px;
}

.slider-control {
  position: absolute;
  bottom: 30px;
  display: flex;
  width: 100px;
  height: 23px;
  left: -225px;
  label {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: #fff;
    margin-right: 5px;
    border-radius: 50%;
  }
}

//PRESENT
.present {
  display: flex;
  justify-content: space-between;
  min-height: 230px;
  margin: 0 25px;
  margin-bottom: 40px;
  .free {
    width: 48.67%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    a {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}

//HITS
.hits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin: 0 25px 40px;
}

.item {
  box-sizing: border-box;
  max-width: 267px;
  img:first-child {
    position: absolute;
  }
}

//ABOUT
.about {
  margin: 0 25px 40px;
  background-color: #eae0c5;
  background-image: url('../img/waffle-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  border-radius: 10px;
  min-height: 300px;
}

//BLOG
.blog-mail {
  display: flex;
  justify-content: space-between;
  min-height: 220px;
  margin: 0 25px 40px;
  .col {
    width: 48.67%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
  }
  .blog {
    background-color: #fff;
    background-image: url('../img/strawberry-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 20px;
  }
  .mail {
    background-color: #f7f6f3;
    background-image: url('../img/mail-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding: 20px;
  }
}

//MAP
.map {
  background-color: rgb(224, 224, 224);
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  min-height: 430px;
  position: relative;
  .address {
    position: absolute;
    background-color: #fff;
    width: 305px;
    right: 20px;
    bottom: 58px;
    border-radius: 10px;
    padding: 25px;
  }
}

//FOOTER  
.main-footer {
  padding: 18px 20px 25px;
  display: flex;
  justify-content: space-between;
}