html,
body {
  min-width: 1200px;
  min-height: 1216px; //for net only
  margin: 0;
  padding: 0;
  background-color: #849d8f;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.radio {
    display: none;
}